<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.duo.mapper.DeptMapper">

    <!--Dept findDeptByDeptno(int deptno);
    property：select属性指定的查询方法，查询得到的数据映射到JavaBean的属性名称
    select："com.duo.mapper.EmpMapper.findEmpsByDeptno" 调用的另一个SQL语句
    javaType："list"  select属性指定的方法的返回值类型
    column："deptno"  给另一个SQL语句传入的参数列
    jdbcType："INTEGER" column在数据库表中的类型
    fetchType："eager"  加载方式 eager 积极加载  lazy延迟加载-->
    <resultMap id="deptJoinEmps" type="dept">
        <id property="deptno" column="deptno"></id>
        <result property="dname" column="dname"></result>
        <result property="loc" column="loc"></result>

        <collection property="empList"
                    select="org.duo.mapper.EmpMapper.findEmpsByDeptno"
                    javaType="list"
                    column="deptno"
                    jdbcType="INTEGER"
                    fetchType="lazy"
        >
        </collection>

    </resultMap>

    <select id="findDeptByDeptno" resultMap="deptJoinEmps">
        select * from dept where deptno =#{deptno}
    </select>

</mapper>